@charset "utf-8";
body {
	background-color: black;
	background-position: center;
	background-image: url(../img/backgroundLarge.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	font-size: 2em;
}
