@charset "utf-8";

/* Box Styling:  Apply a natural box layout model to all elements, but allowing components to change
	- See https://css-tricks.com/international-box-sizing-awareness-day/
    - And https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}

#mainHeader {
	padding: 10px;
}

#mainContent {
	padding-bottom: 40px; /* Height of the footer element */
}

#mainFooter {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: right;
	padding: 10px;
}

.mybody {
/*	background: url(../images/star-wars-1147501_1920.jpg) no-repeat center center fixed; */
	background: url(../images/record-1404325_1920.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: white;
}



header h1 {
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

header h2 {
	font-size: 1.5em;
	text-align: center;
}

/*star-wars-1147501_1920*/
